In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cricket.csv')

In [352]:
df.columns

Index([u'Match', u'Date', u'Innings', u'Over', u'Runs', u'Total.Runs',
       u'Innings.Total.Runs', u'Runs.Remaining', u'Total.Out',
       u'Innings.Total.Out', u'Outs.Remaining', u'Wickets.in.Hand',
       u'Run.Rate', u'Innings.Run.Rate', u'Run.Rate.Required',
       u'Initial.Run.Rate.Required', u'Target.Score', u'Day-night', u'At.Bat',
       u'Fielding', u'Home.Team', u'Away.Team', u'Stadium', u'Country',
       u'Total.Overs', u'Winning.Team', u'Toss.Winner', u'at.bat.wins',
       u'at.bat.won.toss', u'at.bat.at.home', u'at.bat.bat.first',
       u'chose_bat_1st', u'chose_bat_2nd', u'forced_bat_1st',
       u'forced_bat_2nd', u'new.game', u'Error.In.Data', u'common.support'],
      dtype='object')

# Win Margin

In [8]:
rel_cols = ['Match','Innings','Total.Runs','Target.Score']

In [13]:
chase = df[ df['Innings']>1][rel_cols]

In [33]:
win_margin1 = chase.groupby(['Match','Innings'])[ 'Total.Runs','Target.Score' ].max()

In [37]:
win_margin2=win_margin1[ win_margin1['Total.Runs']<win_margin1['Target.Score']]

In [41]:
all_margins = -win_margin2['Total.Runs']+win_margin2['Target.Score']

In [49]:
all_margins.median()

62.0

In [60]:
all_margins.describe()

count    731.000000
mean      73.452804
std       57.005517
min        1.000000
25%       26.000000
50%       62.000000
75%      107.000000
max      273.000000
dtype: float64

# Who should be the winner?

In [319]:
rel_cols = ['Match','Innings','Total.Runs','Target.Score','Wickets.in.Hand','Over','at.bat.wins']

In [320]:
chase = df[ (df['Innings']>1) & (df['Over']==40) ][rel_cols]

In [321]:

chase

,Match,Innings,Total.Runs,Target.Score,Wickets.in.Hand,Over,at.bat.wins
84,65193,2,171,205,9,40,1
181,65194,2,188,254,5,40,1
279,65195,2,216,230,5,40,1
368,65196,2,160,182,6,40,1
462,65197,2,166,230,2,40,0
719,65200,2,215,253,4,40,0
899,65202,2,167,214,6,40,1
1083,65204,2,151,183,7,40,1
1180,65205,2,103,226,0,40,0
1270,65206,2,160,198,4,40,1
1366,65207,2,192,330,6,40,0
1466,65208,2,206,276,6,40,0
1566,65209,2,136,186,4,40,0
1661,65210,2,134,157,7,40,1
1840,65212,2,150,153,7,40,1
1931,65213,2,200,374,3,40,0
2137,65216,2,160,270,3,40,0
2237,65217,2,135,233,2,40,0
2332,65218,2,145,234,3,40,0
2424,65219,2,166,276,5,40,0
2519,65220,2,106,111,6,40,1
2610,65221,2,140,224,2,40,0
2764,65223,2,176,283,5,40,0
2863,65224,2,155,221,4,40,1
2962,65226,2,148,228,3,40,0
3058,65227,2,203,304,4,40,0
3158,65228,2,168,288,4,40,0
3258,65229,2,123,272,3,40,0
3348,65230,2,194,252,6,40,1
3447,65231,2,206,272,6,40,1
...,...,...,...,...,...,...,...
122967,516208,2,183,287,4,40,0
123297,516210,2,188,212,6,40,1
123505,523732,2,174,248,7,40,0
123605,474479,2,201,235,4,40,1
123697,523733,2,205,226,10,40,1
123790,474480,2,207,281,5,40,0
123889,523482,2,176,209,3,40,1
123981,523483,2,172,185,6,40,1
124076,523734,2,183,271,5,40,0
124259,523804,2,178,329,2,40,0
124357,523805,2,160,250,4,40,0
124454,531983,2,192,299,5,40,0
124639,531984,2,197,221,8,40,1
124911,527014,2,218,232,9,40,1
125005,521220,2,229,299,6,40,1
125105,527015,2,209,260,8,40,1
125200,521221,2,219,221,6,40,1
125291,514026,2,176,304,4,40,0
125391,527016,2,263,329,5,40,1
125578,514027,2,182,223,5,40,1
125739,530428,2,169,236,2,40,0
125836,530429,2,186,258,5,40,0
125935,530430,2,159,201,5,40,0
126030,530431,2,178,219,6,40,1
126128,536929,2,186,212,3,40,1
126284,536930,2,210,270,7,40,1
126383,538070,2,121,263,6,40,0
126483,536931,2,196,261,3,40,0
126664,536932,2,211,419,1,40,0
126763,536933,2,211,268,2,40,0

In [322]:
X=chase[['Total.Runs','Target.Score','Wickets.in.Hand']]
y=chase['at.bat.wins']

In [323]:
from sklearn import linear_model
clf = linear_model.LinearRegression()
clf.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [324]:
pred=clf.predict(X)

In [325]:
y_pred=[]
for e in pred:
    if e<0.5:
        y_pred.append(0)
    else:
        y_pred.append(1)

In [326]:
abs(y_pred-y).mean()

0.12691914022517911

# How has the strength of a team changed over the years?

In [327]:
rel_cols = ['Match','At.Bat','Fielding']
matches=df[df['new.game']==1][rel_cols]

In [328]:
match_list=pd.melt(matches, id_vars=['Match'], value_vars=['At.Bat', 'Fielding'])

In [329]:
del match_list['variable']

In [330]:
match_list.sort_values(by=['Match'],inplace=True)

In [331]:
match_list

       Match         value
67     64725  South Africa
1490   64725      Zimbabwe
68     64726  South Africa
1491   64726      Zimbabwe
69     64727      Zimbabwe
1492   64727  South Africa
1493   64728       England
70     64728      Zimbabwe
1495   64729       England
72     64729      Zimbabwe
1496   64730       England
73     64730      Zimbabwe
75     64731       England
1498   64731      Zimbabwe
78     64732      Zimbabwe
1501   64732       England
1514   64733      Zimbabwe
91     64733    Bangladesh
92     64734      Zimbabwe
1515   64734    Bangladesh
93     64735    Bangladesh
1516   64735      Zimbabwe
106    64736         India
1529   64736       England
1531   64737    Bangladesh
108    64737      Pakistan
110    64738       England
1533   64738         India
1534   64739    Bangladesh
111    64739      Pakistan
...      ...           ...
2834  530428      Pakistan
1411  530428     Sri Lanka
1412  530429      Pakistan
2835  530429     Sri Lanka
2836  530430     Sri Lanka
1413  530430      Pakistan
2837  530431      Pakistan
1414  530431     Sri Lanka
2819  531983    Bangladesh
1396  531983   West Indies
1398  531984    Bangladesh
2821  531984   West Indies
2823  531985    Bangladesh
1400  531985   West Indies
2838  536929         India
1415  536929   West Indies
1417  536930   West Indies
2840  536930         India
1419  536931   West Indies
2842  536931         India
2844  536932   West Indies
1421  536932         India
1422  536933         India
2845  536933   West Indies
2839  538069      Pakistan
1416  538069    Bangladesh
1418  538070      Pakistan
2841  538070    Bangladesh
2843  538071    Bangladesh
1420  538071      Pakistan

[2846 rows x 2 columns]

### Get the match dates

In [332]:
rel_cols = ['Match','Date']
match_dates = df[rel_cols]

In [333]:
match_dates = match_dates.drop_duplicates()

In [334]:
match_dates = match_list.join(match_dates.set_index('Match'),on=['Match']).drop_duplicates()

In [335]:
match_dates

       Match         value        Date
67     64725  South Africa  23/09/2001
1490   64725      Zimbabwe  23/09/2001
68     64726  South Africa  29/09/2001
1491   64726      Zimbabwe  29/09/2001
69     64727      Zimbabwe  30/09/2001
1492   64727  South Africa  30/09/2001
1493   64728       England   3/10/2001
70     64728      Zimbabwe   3/10/2001
1495   64729       England   6/10/2001
72     64729      Zimbabwe   6/10/2001
1496   64730       England   7/10/2001
73     64730      Zimbabwe   7/10/2001
75     64731       England  10/10/2001
1498   64731      Zimbabwe  10/10/2001
78     64732      Zimbabwe  13/10/2001
1501   64732       England  13/10/2001
1514   64733      Zimbabwe  23/11/2001
91     64733    Bangladesh  23/11/2001
92     64734      Zimbabwe  25/11/2001
1515   64734    Bangladesh  25/11/2001
93     64735    Bangladesh  26/11/2001
1516   64735      Zimbabwe  26/11/2001
106    64736         India  19/01/2002
1529   64736       England  19/01/2002
1531   64737    Bangladesh  22/01/2002
108    64737      Pakistan  22/01/2002
110    64738       England  22/01/2002
1533   64738         India  22/01/2002
1534   64739    Bangladesh  24/01/2002
111    64739      Pakistan  24/01/2002
...      ...           ...         ...
2834  530428      Pakistan  14/11/2011
1411  530428     Sri Lanka  14/11/2011
1412  530429      Pakistan  18/11/2011
2835  530429     Sri Lanka  18/11/2011
2836  530430     Sri Lanka  20/11/2011
1413  530430      Pakistan  20/11/2011
2837  530431      Pakistan  23/11/2011
1414  530431     Sri Lanka  23/11/2011
2819  531983    Bangladesh  13/10/2011
1396  531983   West Indies  13/10/2011
1398  531984    Bangladesh  15/10/2011
2821  531984   West Indies  15/10/2011
2823  531985    Bangladesh  18/10/2011
1400  531985   West Indies  18/10/2011
2838  536929         India  29/11/2011
1415  536929   West Indies  29/11/2011
1417  536930   West Indies   2/12/2011
2840  536930         India   2/12/2011
1419  536931   West Indies   5/12/2011
2842  536931         India   5/12/2011
2844  536932   West Indies   8/12/2011
1421  536932         India   8/12/2011
1422  536933         India  11/12/2011
2845  536933   West Indies  11/12/2011
2839  538069      Pakistan   1/12/2011
1416  538069    Bangladesh   1/12/2011
1418  538070      Pakistan   3/12/2011
2841  538070    Bangladesh   3/12/2011
2843  538071    Bangladesh   6/12/2011
1420  538071      Pakistan   6/12/2011

[2846 rows x 3 columns]

In [336]:
match_dates['Year'] = match_dates.apply(lambda x: x['Date'][-4:] ,axis=1)

In [337]:
match_dates

       Match         value        Date  Year
67     64725  South Africa  23/09/2001  2001
1490   64725      Zimbabwe  23/09/2001  2001
68     64726  South Africa  29/09/2001  2001
1491   64726      Zimbabwe  29/09/2001  2001
69     64727      Zimbabwe  30/09/2001  2001
1492   64727  South Africa  30/09/2001  2001
1493   64728       England   3/10/2001  2001
70     64728      Zimbabwe   3/10/2001  2001
1495   64729       England   6/10/2001  2001
72     64729      Zimbabwe   6/10/2001  2001
1496   64730       England   7/10/2001  2001
73     64730      Zimbabwe   7/10/2001  2001
75     64731       England  10/10/2001  2001
1498   64731      Zimbabwe  10/10/2001  2001
78     64732      Zimbabwe  13/10/2001  2001
1501   64732       England  13/10/2001  2001
1514   64733      Zimbabwe  23/11/2001  2001
91     64733    Bangladesh  23/11/2001  2001
92     64734      Zimbabwe  25/11/2001  2001
1515   64734    Bangladesh  25/11/2001  2001
93     64735    Bangladesh  26/11/2001  2001
1516   64735      Zimbabwe  26/11/2001  2001
106    64736         India  19/01/2002  2002
1529   64736       England  19/01/2002  2002
1531   64737    Bangladesh  22/01/2002  2002
108    64737      Pakistan  22/01/2002  2002
110    64738       England  22/01/2002  2002
1533   64738         India  22/01/2002  2002
1534   64739    Bangladesh  24/01/2002  2002
111    64739      Pakistan  24/01/2002  2002
...      ...           ...         ...   ...
2834  530428      Pakistan  14/11/2011  2011
1411  530428     Sri Lanka  14/11/2011  2011
1412  530429      Pakistan  18/11/2011  2011
2835  530429     Sri Lanka  18/11/2011  2011
2836  530430     Sri Lanka  20/11/2011  2011
1413  530430      Pakistan  20/11/2011  2011
2837  530431      Pakistan  23/11/2011  2011
1414  530431     Sri Lanka  23/11/2011  2011
2819  531983    Bangladesh  13/10/2011  2011
1396  531983   West Indies  13/10/2011  2011
1398  531984    Bangladesh  15/10/2011  2011
2821  531984   West Indies  15/10/2011  2011
2823  531985    Bangladesh  18/10/2011  2011
1400  531985   West Indies  18/10/2011  2011
2838  536929         India  29/11/2011  2011
1415  536929   West Indies  29/11/2011  2011
1417  536930   West Indies   2/12/2011  2011
2840  536930         India   2/12/2011  2011
1419  536931   West Indies   5/12/2011  2011
2842  536931         India   5/12/2011  2011
2844  536932   West Indies   8/12/2011  2011
1421  536932         India   8/12/2011  2011
1422  536933         India  11/12/2011  2011
2845  536933   West Indies  11/12/2011  2011
2839  538069      Pakistan   1/12/2011  2011
1416  538069    Bangladesh   1/12/2011  2011
1418  538070      Pakistan   3/12/2011  2011
2841  538070    Bangladesh   3/12/2011  2011
2843  538071    Bangladesh   6/12/2011  2011
1420  538071      Pakistan   6/12/2011  2011

[2846 rows x 4 columns]

In [338]:
tmp_match_dates = match_dates[['value','Year']]
tmp_match_dates = tmp_match_dates.groupby(['value','Year']).size().reset_index()

In [339]:
tmp_match_dates[ tmp_match_dates['value'] == 'India']
tmp_match_dates[0].sum()

2846

In [340]:
rel_cols = ['Match','Winning.Team']

In [341]:
match_winners=df[rel_cols]

In [342]:
match_winners.drop_duplicates()

         Match  Winning.Team
0        65193       England
92       65194  South Africa
190      65195      Zimbabwe
281      65196     Australia
374      65197      Pakistan
470      65198   New Zealand
541      65199       England
630      65200      Zimbabwe
725      65201  South Africa
810      65202   New Zealand
906      65203      Pakistan
995      65204   West Indies
1091     65205  South Africa
1181     65206     Sri Lanka
1277     65207         India
1377     65208      Pakistan
1477     65209    Bangladesh
1574     65210   West Indies
1667     65211       England
1756     65212  South Africa
1842     65213         India
1935     65214     Australia
2005     65215   West Indies
2048     65216      Pakistan
2148     65217         India
2243     65218      Zimbabwe
2340     65219     Sri Lanka
2433     65220     Australia
2521     65221    Bangladesh
2615     65222   New Zealand
...        ...           ...
124087  474481       England
124170  523804       Ireland
124268  523805       Ireland
124365  531983   West Indies
124465  521218         India
124551  531984   West Indies
124643  521219         India
124729  531985    Bangladesh
124771  514025     Australia
124822  527014   New Zealand
124916  521220         India
125016  527015   New Zealand
125115  521221         India
125202  514026  South Africa
125302  527016      Zimbabwe
125402  521222         India
125489  514027     Australia
125587  530427      Pakistan
125650  530428     Sri Lanka
125747  530429      Pakistan
125846  530430      Pakistan
125941  530431      Pakistan
126039  536929         India
126138  538069      Pakistan
126195  536930         India
126294  538070      Pakistan
126394  536931   West Indies
126491  538071      Pakistan
126575  536932         India
126674  536933         India

[1423 rows x 2 columns]

In [343]:
match_winner_dates = match_dates[['Match','Year']].drop_duplicates()

In [344]:
match_winner_dates

       Match  Year
67     64725  2001
68     64726  2001
69     64727  2001
1493   64728  2001
1495   64729  2001
1496   64730  2001
75     64731  2001
78     64732  2001
1514   64733  2001
92     64734  2001
93     64735  2001
106    64736  2002
1531   64737  2002
110    64738  2002
1534   64739  2002
1536   64740  2002
1535   64741  2002
116    64742  2002
1541   64743  2002
1544   64744  2002
124    64745  2002
125    64746  2002
126    64747  2002
127    64748  2002
1551   64749  2002
129    64750  2002
130    64751  2002
1554   64752  2002
132    64753  2002
1556   64754  2002
...      ...   ...
1376  522247  2011
2801  522248  2011
1380  522249  2011
1382  522250  2011
1390  523482  2011
1391  523483  2011
2809  523732  2011
2811  523733  2011
1392  523734  2011
1394  523804  2011
1395  523805  2011
2825  527014  2011
2827  527015  2011
2830  527016  2011
1410  530427  2011
2834  530428  2011
1412  530429  2011
2836  530430  2011
2837  530431  2011
2819  531983  2011
1398  531984  2011
2823  531985  2011
2838  536929  2011
1417  536930  2011
1419  536931  2011
2844  536932  2011
1422  536933  2011
2839  538069  2011
1418  538070  2011
2843  538071  2011

[1423 rows x 2 columns]

In [345]:
match_winner_dates = match_winners.join(match_winner_dates.set_index('Match'),on=['Match']).drop_duplicates()

In [346]:
match_winner_dates

         Match  Winning.Team  Year
0        65193       England  1999
92       65194  South Africa  1999
190      65195      Zimbabwe  1999
281      65196     Australia  1999
374      65197      Pakistan  1999
470      65198   New Zealand  1999
541      65199       England  1999
630      65200      Zimbabwe  1999
725      65201  South Africa  1999
810      65202   New Zealand  1999
906      65203      Pakistan  1999
995      65204   West Indies  1999
1091     65205  South Africa  1999
1181     65206     Sri Lanka  1999
1277     65207         India  1999
1377     65208      Pakistan  1999
1477     65209    Bangladesh  1999
1574     65210   West Indies  1999
1667     65211       England  1999
1756     65212  South Africa  1999
1842     65213         India  1999
1935     65214     Australia  1999
2005     65215   West Indies  1999
2048     65216      Pakistan  1999
2148     65217         India  1999
2243     65218      Zimbabwe  1999
2340     65219     Sri Lanka  1999
2433     65220     Australia  1999
2521     65221    Bangladesh  1999
2615     65222   New Zealand  1999
...        ...           ...   ...
124087  474481       England  2011
124170  523804       Ireland  2011
124268  523805       Ireland  2011
124365  531983   West Indies  2011
124465  521218         India  2011
124551  531984   West Indies  2011
124643  521219         India  2011
124729  531985    Bangladesh  2011
124771  514025     Australia  2011
124822  527014   New Zealand  2011
124916  521220         India  2011
125016  527015   New Zealand  2011
125115  521221         India  2011
125202  514026  South Africa  2011
125302  527016      Zimbabwe  2011
125402  521222         India  2011
125489  514027     Australia  2011
125587  530427      Pakistan  2011
125650  530428     Sri Lanka  2011
125747  530429      Pakistan  2011
125846  530430      Pakistan  2011
125941  530431      Pakistan  2011
126039  536929         India  2011
126138  538069      Pakistan  2011
126195  536930         India  2011
126294  538070      Pakistan  2011
126394  536931   West Indies  2011
126491  538071      Pakistan  2011
126575  536932         India  2011
126674  536933         India  2011

[1423 rows x 3 columns]

In [347]:
match_winner_dates.sort_values(by='Winning.Team')

         Match Winning.Team  Year
96885   415173  Afghanistan  2009
122387  518203  Afghanistan  2011
103419  441780  Afghanistan  2010
110305  450498  Afghanistan  2010
109529  450386  Afghanistan  2010
122300  518202  Afghanistan  2011
108886  450381  Afghanistan  2010
93707   390253  Afghanistan  2009
108423  450376  Afghanistan  2010
111922  470625  Afghanistan  2010
107790  450370  Afghanistan  2010
50475   216271    Africa XI  2005
73673   289107      Asia XI  2007
50568   216591      Asia XI  2005
73871   289110      Asia XI  2007
73771   289108      Asia XI  2007
22292    65639    Australia  2003
22389    65640    Australia  2003
22474    65641    Australia  2003
22528    65642    Australia  2003
41373    66377    Australia  2004
65980   249228    Australia  2007
22897    65238    Australia  2003
77003   297798    Australia  2007
76286   297794    Australia  2007
57224   238199    Australia  2006
35740    65656    Australia  2004
97082   350044    Australia  2009
23378    65244    Australia  2003
26171    65279    Australia  2003
...        ...          ...   ...
122778  522248     Zimbabwe  2011
119384  433598     Zimbabwe  2011
78700   317578     Zimbabwe  2007
190      65195     Zimbabwe  1999
2243     65218     Zimbabwe  1999
89894   378757     Zimbabwe  2009
89281   378753     Zimbabwe  2009
125302  527016     Zimbabwe  2011
111564  474454     Zimbabwe  2010
36934    64879     Zimbabwe  2004
60541   249206     Zimbabwe  2006
33034    64848     Zimbabwe  2003
22726    65236     Zimbabwe  2003
8629     66330     Zimbabwe  2001
27233    65807     Zimbabwe  2003
8509     64735     Zimbabwe  2001
96200   410339     Zimbabwe  2009
116950  433570     Zimbabwe  2011
8409     64734     Zimbabwe  2001
90981   385025     Zimbabwe  2009
33107    64849     Zimbabwe  2003
81293   300440         tied  2008
69242   247461         tied  2007
3556     65233         tied  1999
49426   212452         tied  2005
116850  433568         tied  2011
123701  474480         tied  2011
25623    65272         tied  2003
12721    64760         tied  2002
46029    64924         tied  2005

[1423 rows x 3 columns]

In [348]:
match_winner_dates = match_winner_dates.groupby(['Winning.Team','Year']).size().reset_index()

In [349]:
tmp_match_dates

                        value  Year   0
0                 Afghanistan  2009   3
1                 Afghanistan  2010  13
2                 Afghanistan  2011   2
3                   Africa XI  2005   2
4                   Africa XI  2007   3
5                     Asia XI  2005   3
6                     Asia XI  2007   3
7                   Australia  1999  10
8                   Australia  2001   6
9                   Australia  2002  28
10                  Australia  2003  35
11                  Australia  2004  24
12                  Australia  2005  27
13                  Australia  2006  28
14                  Australia  2007  32
15                  Australia  2008  17
16                  Australia  2009  37
17                  Australia  2010  24
18                  Australia  2011  24
19                 Bangladesh  1999   5
20                 Bangladesh  2001   3
21                 Bangladesh  2002  13
22                 Bangladesh  2003  20
23                 Bangladesh  2004  19
24                 Bangladesh  2005  14
25                 Bangladesh  2006  22
26                 Bangladesh  2007  17
27                 Bangladesh  2008  26
28                 Bangladesh  2009  19
29                 Bangladesh  2010  27
..                        ...   ...  ..
147                 Sri Lanka  2009  26
148                 Sri Lanka  2010  21
149                 Sri Lanka  2011  26
150      United Arab Emirates  2004   2
151      United Arab Emirates  2008   2
152  United States of America  2004   2
153               West Indies  1999   5
154               West Indies  2001  10
155               West Indies  2002  21
156               West Indies  2003  20
157               West Indies  2004  20
158               West Indies  2005  17
159               West Indies  2006  32
160               West Indies  2007  21
161               West Indies  2008  18
162               West Indies  2009  19
163               West Indies  2010  16
164               West Indies  2011  27
165                  Zimbabwe  1999   7
166                  Zimbabwe  2001  22
167                  Zimbabwe  2002  12
168                  Zimbabwe  2003  21
169                  Zimbabwe  2004  27
170                  Zimbabwe  2005  12
171                  Zimbabwe  2006  21
172                  Zimbabwe  2007  10
173                  Zimbabwe  2008  11
174                  Zimbabwe  2009  26
175                  Zimbabwe  2010  20
176                  Zimbabwe  2011  17

[177 rows x 3 columns]

In [350]:
new_df = pd.merge(tmp_match_dates, match_winner_dates,  how='left', left_on=['value','Year'], right_on = ['Winning.Team','Year'])

In [351]:
new_df['sucess']=new_df['0_y']/new_df['0_x']
new_df[new_df['value']=='India']

    value  Year  0_x Winning.Team   0_y    sucess
57  India  1999    8        India   4.0  0.500000
58  India  2001   19        India  10.0  0.526316
59  India  2002   32        India  19.0  0.593750
60  India  2003   26        India  16.0  0.615385
61  India  2004   31        India  15.0  0.483871
62  India  2005   27        India  15.0  0.555556
63  India  2006   28        India  13.0  0.464286
64  India  2007   35        India  20.0  0.571429
65  India  2008   27        India  19.0  0.703704
66  India  2009   27        India  17.0  0.629630
67  India  2010   27        India  17.0  0.629630
68  India  2011   33        India  21.0  0.636364

# Stadium: Batting pitch or bowling pitch?

In [39]:
stadium_bias = df[ (df['new.game']>0) ].groupby(['Stadium','at.bat.wins']).size().reset_index().sort_values(by=['Stadium','at.bat.wins'])

In [40]:
stadium_bias = stadium_bias.pivot(index='Stadium', columns='at.bat.wins')[0].sort_values(by=[0])

In [41]:
stadium_bias.reset_index(inplace=True)
stadium_bias['discrepancy'] = abs(stadium_bias[0]-stadium_bias[1])

In [42]:
stadium_bias.columns

Index([u'Stadium', 0, 1, u'discrepancy'], dtype='object', name=u'at.bat.wins')

In [46]:
stadium_bias.sort_values(by=['discrepancy'],ascending=[0])

at.bat.wins            Stadium     0     1  discrepancy
119              Colombo (RPS)  21.0  39.0         18.0
76                      Lahore   6.0  17.0         11.0
118              Nairobi (Gym)  19.0  10.0          9.0
73                   Cape Town   5.0  14.0          9.0
121                     Harare  36.0  29.0          7.0
103               Christchurch  10.0   4.0          6.0
117                   Bulawayo  19.0  13.0          6.0
109                 Bridgetown  11.0   5.0          6.0
108                 Nottingham  11.0   5.0          6.0
102                    Sharjah  10.0  16.0          6.0
105                     Sydney  11.0  17.0          6.0
122                      Dhaka  40.0  35.0          5.0
91                 St George's   8.0   3.0          5.0
96                    Adelaide   8.0  13.0          5.0
56                      Mohali   4.0   9.0          5.0
18                     Tangier   1.0   6.0          5.0
111                 Gros Islet  12.0   7.0          5.0
115                     Lord's  16.0  11.0          5.0
116                  Centurion  17.0  12.0          5.0
50                      Hobart   4.0   8.0          4.0
99                      Benoni   9.0   5.0          4.0
97                       Leeds   8.0   4.0          4.0
106                   Kingston  11.0   7.0          4.0
92                     Belfast   8.0   4.0          4.0
88              Port Elizabeth   8.0  12.0          4.0
84                      Jaipur   7.0   3.0          4.0
80                       Perth   7.0  11.0          4.0
64                    Voorburg   5.0   1.0          4.0
104                   Auckland  11.0   7.0          4.0
69                    Hamilton   5.0   1.0          4.0
..                         ...   ...   ...          ...
62                 North Sound   5.0   5.0          0.0
65                      Nagpur   5.0   5.0          0.0
34                   Pallekele   2.0   2.0          0.0
2                     Fatullah   1.0   1.0          0.0
86                  Birmingham   8.0   8.0          0.0
1                       Khulna   1.0   NaN          NaN
7                     Canberra   1.0   NaN          NaN
12                        Hove   1.0   NaN          NaN
13           Nairobi (Ruaraka)   1.0   NaN          NaN
14            Hyderabad (Sind)   1.0   NaN          NaN
15                 Sheikhupura   1.0   NaN          NaN
21                     Jodhpur   1.0   NaN          NaN
24                     Glasgow   2.0   NaN          NaN
27                       Kandy   2.0   NaN          NaN
30                   Worcester   2.0   NaN          NaN
31                      Cairns   2.0   NaN          NaN
35                        Pune   2.0   NaN          NaN
36                         Ayr   2.0   NaN          NaN
37                    Schiedam   2.0   NaN          NaN
40                     Dunedin   3.0   NaN          NaN
43                   Faridabad   3.0   NaN          NaN
46                    Peshawar   3.0   NaN          NaN
75                  Queenstown   6.0   NaN          NaN
79                     Cardiff   7.0   NaN          NaN
123                 Chandigarh   NaN   1.0          NaN
124              Colombo (PSS)   NaN   1.0          NaN
125                      Derby   NaN   1.0          NaN
126                    Mombasa   NaN   2.0          NaN
127                Northampton   NaN   2.0          NaN
128                 Vijayawada   NaN   1.0          NaN

[129 rows x 4 columns]